node_modules
.env
.env.local
*.json
!tsconfig.json
!package.json
!package-lock.json
*.log
logs/
venv/
venv_*/
__pycache__/
*.pyc
.pytest_cache/
dist/wpp-analytics/
dist/shared/oauth-client-factory*
*.xlsx
*.png
*.jpeg
*.jpg
cloud-sql-proxy
tsconfig.tsbuildinfo
*:Zone.Identifier
config/gsc-tokens.json
